extends layout

block content
  #game
  #secret-info(data-enemy=enemy data-moves=moves data-user=user)
  script(src='/javascripts/zepto.min.js')
  script(src='/javascripts/phaser.min.js')
  script(src='/javascripts/Juicy.js')
  script(src='/javascripts/script.js')
