extends layout

block content
  .landing-page
    h1 Blind Bash!
    h2 Compete in a blindfolded fight against random people on twitter
    a(href="/auth/twitter") Sign in with Twitter
    br
    a(href="/bash") Play as guest
