doctype html
html
  head
    title Blind Bash
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/javascripts/phaser.min.js')
    script(src='/javascripts/script.js')
