html, body {
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.landing-page {
  margin: 30px auto;
  width: 90%;
  max-width: 600px;
  padding: 15px;
  border: solid 1px #888;
  border-radius: 5px;
  text-align: center;
}
